<div id="countdown" *ngIf="!timesUp && remainingMinutes !== undefined && remainingSeconds !== undefined">
    <div>
        <label>Break Over In...</label>
    </div>
    
    <div id="ticker">
        {{ remainingMinutes }} : {{ remainingSeconds | twoDigits }}
    </div>
    
    <div *ngIf="logo">
        <img src="../../assets/inpax.png" alt="">
    </div>
</div>

<div id="times-up" *ngIf="timesUp">
    <div>
        Time's up
        <div>
            Please end conversations and return to your seats
        </div>
    </div>
    <audio autoplay loop *ngIf="audio">
        <source src="../../assets/computer-magic.mp3" type="audio/mpeg">
    </audio>
</div>