#countdown {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr auto 1fr;
    height: 100vh;
}

#countdown > div:first-child, #countdown > div:last-child {
    display: grid;
    align-content: end;
}

label {
    font-size: 8em;
    color: #588AB2;
}

#ticker {
    font-size: 24em;
    color: #fff;
}

img {
    height: 4em;
    padding-bottom: 1em;
}

#times-up {
    background: #2f2f2f url('../../assets/watch-time-late.jpg') center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: grid;
    justify-content: center;
    /*align-content: center;*/
    padding: 5em;
}

#times-up > div {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    font-size: 14em;
    color: #af2e25;
    width: 75vw;
    height: 1.5em;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding: .3em;
}

#times-up > div > div {
    font-size: .3em;
    color: #000;
}